RewriteEngine On
RewriteBase /
options +FollowSymLinks
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api-premios/premios-actrices(.*)$ /api-premios/premios-actrices.php [L]
RewriteRule ^api-premios/anual(.*)$ /api-premios/premios-actrices-anual.php [L]
RewriteRule ^api-premios/anoID/([0-9]+)$ /api-premios/premios-actrices-anual-id.php?idOscar=$1 [L] 
